{% for message in app.flashes('success') %}
	<div class="position-fixed z-3 end-0 mx-3 shadow alert alert-light alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}